.profile {
    position: relative;
    display: grid;
    grid-template-columns: 18rem auto 20rem;
    gap: 2.4rem;
    justify-content: center;
}

.profile-middle{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}