.auth {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 4rem;
    position: relative;
}

.auth > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-left-section {
    gap: 2rem;
}

.auth-left-section > img {
    width: 4rem;
}

.app-name > h1 {
    font-size: 3rem;
    background-color: red;
    background-image: linear-gradient(to right, rgb(18, 164, 197) 0%, rgb(149, 184, 199) 50%, rgb(204, 181, 170) 100%);
    /* background-image: linear-gradient(to right, rgb(147, 70, 186) 0%, rgb(255, 207, 114) 100%); */
    background-size: 100%;
    background-repeat: repeat ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.app-name > h6 {
    font-size: 1rem;
}

.info-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.info-form > div {
    display: flex;
    gap: 1rem;
    height: 2rem;
    width: 90%;
}

.info-input {
    border: none;
    outline: none;
    /* align-self: center; */
    background-color: var(--inputColor);
    border-radius: 8px;
    padding: 25px;
    flex: 1;
    height: 0px;
}

.signup-button {
    width: 7rem;
    height: 3rem;
    align-self: flex-end;
    font-size: medium;
}

.signup-form {
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
}

.signup-form > div{
    width: 100%;
    align-items: center;
    justify-content: center;
}

.login-button {
    width: 6rem;
    height: 2.1rem;
    align-self: flex-end;
    font-size: medium;
}

