.navbar, .navbar-elements {
    position: sticky;
    display: flex;
    top: 0;
    right: 0;
    left: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 100%;
    z-index: 999;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
}

.navbar-elements{
    padding: 0.2rem 6rem;
}

.nav-icons {
    /* margin-top: 1rem; */
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    justify-: flex-end;
}

.nav-icons > img {
    width: 1.7rem;
    height: 1.7rem;
}

.nav-icons > a > img {
    width: 1.7rem;
    height: 1.7rem;
}